@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  input,
  textarea,
  button,
  select,
  optgroup {
    font-family: "SUIT", sans-serif;
  }

  /* Remove arrow/spinners from input type number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
